@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Geologica";
  color: white;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color:#2d142c;
}

.container{
  display: flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  height:100%;
}


.scoreboard{
  display:flex;
}

#gameboard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 500px;
  height: 500px;
  background-color: #510a32;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 40px;
box-shadow: 1px 15px 145px 11px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 15px 145px 11px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 15px 145px 11px rgba(0,0,0,0.75);
}

.gameboard-square{
  display:flex;
  background-color: #f0f0f0;
  font-size:5em;
  justify-content:center; 
  align-items:center;
  box-sizing: border-box;
  overflow: hidden;
  width: 120px;
  height: 120px;
  color: black;
  border-radius: 10px;}

#modal{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: black;
}


.scoreboard{
  width: 1000px;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin: 50px;
}

h1{
  font-size: 3em;
}

body > h1{
  margin: 40px;
}

.highlight{
  margin: 10px;
  font-size: 2em;
}


